header {
    position: sticky;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}


/* Estilos para el contenedor principal */
.container {
    display: flex;
    align-items: center;
    width: 100%;
}

/* Estilos para el logo */
.infoPag {
    display: flex;
    align-items: center;
    color: #3a3a3a;
}

.infoPag>a {
    text-decoration: none;
    color: black;
    width: 40%;
}

.menuPers {
    display: flex;
    height: 100%;
    list-style-type: none;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    align-items: center;
}

.menuPers a {
    text-decoration: none;
    margin: 0 0.1em 0 0.1em;
    color: black;
}

.menuPers img {
    margin: 0 0.1em 0 0.1em;
}

.cuenta:hover .submenu {
    visibility: visible;
}

/* Estilos para el submenu */
.submenu {
    visibility: hidden;
    position: absolute;
    top: 100%;
    cursor: pointer;
    padding: 1%;
    background-color: #fff;
    border-color: #ccc;
    border-style: solid;
    border-width: 0px 1px 1px 1px;
}

.subdiv:hover {
    background-color: #00b3aa;
}

.buscador {
    display: flex;
}

/* Estilos para el input de busqueda */
.buscador input[type="text"] {
    width: 66%;
    border: none;
    border-radius: 5px 0 0 5px;
    margin-right: -1px;
}

/* Estilos para el boton de busqueda */
.buscador button[type="submit"] {
    width: 30%;
    padding: 0.5em 1em;
    border: none;
    background-color: #018273;
    color: #fff;
    border-radius: 0 5px 5px 0;
}

/* Estilos para Pantallas de PC */
@media (min-width: 1090px) {
    .infoPag {
        width: 30%;
        font-size: larger;
        font-weight: bolder;
    }

    .buscador {
        width: 30%;
    }

    .infoPag img {
        width: 9%;
    }

    .menuPers {
        width: 40%;
    }

    .menuPers a {
        width: 21%;
    }

    .menuPers img {
        width: 15%;
    }

    .buscador input[type="text"] {
        width: 50%;
    }

    .buscador input[type="text"] {
        padding: 0.5em;
    }
}

/* Estilos para tablet*/
@media (min-width: 700px) and (max-width: 1090px) {
    .container {
        padding: 0.2em;
    }

    .infoPag {
        width: 25%;
        font-size: larger;
        font-weight: bolder;
    }

    .infoPag img {
        width: 12%;
    }

    .menuPers {
        width: 40%;
        justify-content: end;
        font-size: small;
    }

    .menuPers a {
        width: 25%;
    }

    .menuPers img {
        width: 20%;
    }

    .buscador {
        width: 25%;
    }
}

/* Estilos para móvil */
@media (max-width: 700px) {
    .container {
        flex-wrap: wrap;
        padding: 0.3em;
    }

    .infoPag {
        width: 15%;
        font-size: 0%;
        justify-content: center;
    }

    .infoPag img {
        width: 60%;
    }

    .menuPers {
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 0.4em;
    }

    .menuPers a {
        width: 33%;
        justify-content: center;
        display: flex;
    }

    .menuPers img {
        width: 16%;
    }

    .buscador {
        width: 70%;
        justify-content: center;
    }
}