/*GENERAL*/
body {
  background: #ffffff86;
}

.separador {
  text-align: center;
  border-bottom: 1px solid rgba(158, 158, 158, 0.308);
  /* Agrega una línea de separación en la parte superior */
}

/*CATEGORIAS*/

.categorias {
  display: flex;
  /* Habilita Flexbox */
  flex-wrap: wrap;
  /* Permite que los elementos se ajusten automáticamente a la pantalla */
  justify-content: center;
  /* Alinea los elementos en el centro del contenedor */
  align-items: center;
  /* Centra los elementos verticalmente */
}

/* Estilos para los elementos dentro del contenedor */
.item {
  flex: 1;
  /* Permite que los elementos ocupen el mismo espacio */
  margin: 10px;
  /* Agrega margen entre los elementos */
  display: flex;
  /* Establece que los elementos dentro del contenedor se dispongan en línea */
  justify-content: center;
  /* Centra los elementos en el eje horizontal */
  flex-direction: column;
  /* Establece que los elementos dentro del contenedor se dispongan en columnas */
  align-items: center;
  /* Centra los elementos en el eje vertical */
  text-align: center;
}

.item img {
  width: 40%;
}

.item:hover {
  cursor: pointer;
  background-color: rgba(158, 158, 158, 0.308);
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .categorias {
    flex-wrap: wrap;
    /* Evita que los elementos se ajusten automáticamente */
  }

  .item {
    flex: 20%;
  }
}

@media only screen and (min-device-width: 700px) and (max-device-width: 1024px) {
  .categorias {
    flex-wrap: wrap;
    /* Evita que los elementos se ajusten automáticamente */
  }

  .item {
    flex: 0 0 30%;
  }
}

/*MENU DESPLEGABLE DE MI CUENTA*/
/* Ocultar el menú desplegable */
ul.sub-menu {
  display: none;
}

/* Mostrar el menú desplegable al hacer clic en "Mi cuenta" */
.account-link:hover + ul.sub-menu {
  display: block;
  position: absolute;
  background-color: #f2f2f2;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

/* Estilos para los elementos de la lista del menú desplegable */
ul.sub-menu li {
  list-style-type: none;
  margin: 8px 0;
}

/* Estilos para los enlaces dentro del menú desplegable */
ul.sub-menu a {
  color: #333;
  text-decoration: none;
}

/* Estilos para el enlace "Mi cuenta" */
.account-link {
  color: #333;
  text-decoration: none;
  position: relative;
}
.relative {
  position: relative;
}
